<footer class="text-center fixed-bottom text-lg-start mt-auto bg-success white text-dark">
   
     <section>
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-2">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas  fa-headphones me-3"></i>Soundtracks </h6>
	 <div class="input-group mb-3 mt-4"> 
	<input type="text" class="form-control" placeholder="Enter email" aria-label="Recipient's username" aria-describedby="button-addon2"> 
<button class="btn btn-dark border-rad" type="button" id="button-addon2">Subscribe</button> 
</div>

        </div>

       

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-2">
	<h6> Share on Social media </h6>
	<a href="#" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i></a>
      	<a href="#" class="me-4 text-reset">
        <i class="fab fa-twitter"></i></a>
      	<a href="#" class="me-4 text-reset">
        <i class="fab fa-instagram"></i></a>
	</div>
       
	</div>
    </div>
	     </div>
  </section>
</footer>
